.btn {
    background-color: $color-accent;
    border: 0;
    border-radius: $bdrs;
    padding: 11px $sp * 3;
    min-width: 180px;

    color: white;
    text-decoration: none;
    font-family: sans-serif;

    // font-family: SF Pro Text;
    font-size: $sp * 2;
    line-height: $sp * 3;
    
    &--full-wd {
        width: 100%;
    }

    &--ghost {
        background: none;
        color: $color-neutral-2;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;

    margin-bottom: $sp * 2;

    &:last-cild {
        margin-bottom: 0;
    }

    &--left {
        justify-content: flex-start;
    }

    &--right {
        justify-content: flex-end;
    }
}