$color-prim: #BE52F2;
$color-prim--liht: #DBA5F5;
$color-prim--faded: #EEDFF2;

$color-accent: #6979F8;
$color-accent--light:#A5AFFB;
$color-accent--faded: #E5E7FA; 

$color-neutral-1: #1A051D;
$color-neutral-2: #3F3356;
$color-neutral-3: #D0C9D6;
$color-neutral-4: #ECE9F1;
$color-neutral-5: #F7F5F9;
$color-neutral-6: #FFFFFF;

$color-blue--25: #D5E9FA;
$color-blue--75: #66B5F8;

$color-green--25: #D5F2EA;
$color-green--75:  #7DDFC3;

$shadow-1: 0px 7px 64px rgba(0, 0, 0, 0.07);
$shadow-2: 0px 0px 10px rgba(0, 0, 0, 0.07);
$shadow-3: 0px 7px 20px rgba(0, 0, 0, 0.07);


$bdrs: 6px;
$sp: 8px;