@import '../../../assets/scss/bundle.scss';

.user {
    &__avatar-wrapper {
        margin-bottom: $sp * 2;

        height: $sp * 10;
        width: $sp * 10;
        border-radius: 50%;

        overflow: hidden;
        position: relative;

        box-shadow: $shadow-2;

        border: 2px solid $color-blue--25;
        box-shadow: 0 $sp * .5 $sp * 3 rgba($color-blue--25, .5);
    }

    &__avatar {
        position: absolute;
        left: 50%;
        top: 50%;
        max-height: 150%;
        min-width: 100%;
        transform: translate(-50%, -50%);
    }
}