<div class="card__wrapper">
    <div class="card__self">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <h1 class="h1">Login</h1>
            <input class="input" placeholder="Login" ngModel required name="login" #login="ngModel" type="text" >
            <input class="input" placeholder="Password" ngModel required minlength="6" name="password" #password="ngModel" type="password">
            <div class="btn-wrapper">
                <button class="btn btn--full-wd">Let me in!</button>
            </div>
            <a class="plain-anchor u-align-center" [routerLink]="['/register']">
                Don't have an account?
            </a>
        </form>
    </div>
</div>