<div class="card__wrapper">
    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" *ngIf="userData" class="card__self">
        <div class="card__sidebar">
            <div class="card__row">
                <h2 class="h1">
                    {{userData.firstName}}
                <br>
                    {{userData.lastName}}
                </h2>
            </div>
        </div>
        <div class="card__content">
            <h2 class="h1 card__title">Update your profile</h2>
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__first-name">
                            <h3>Your First Name</h3>
                        </label>
                        
                        <input ngModel name="firstName" #firstName="ngModel" [(ngModel)]="userData.firstName" id='input__first-name' type="text" value={{userData.firstName}} class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Last Name</h3>
                        </label>
                        <input ngModel name="lastName" #lastName="ngModel" id="input__last-name" type="text" [(ngModel)]="userData.lastName" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Username</h3>
                        </label>
                        <input ngModel name="username" #username="ngModel" id="input__username" type="text" [(ngModel)]="userData.username" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Email</h3>
                        </label>
                        <input ngModel name="emailId" #emailId="ngModel" id="input__email" type="email" [(ngModel)]="userData.emailId" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__password">
                            <h3>Your Password</h3>
                        </label>
                        <input ngModel name="password" #password="ngModel" id="input__password" type="password" [(ngModel)]="userData.password" placeholder="It's a total secret" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__confirm-password">
                            <h3>Confirm your Password</h3>
                        </label>
                        <input ngModel name="confirmpassword" #confirmpassword="ngModel" id="input__confirm-password" type="password" [(ngModel)]="userData.confirmpassword" placeholder="We won't tell anybody" class="input">
                    </div>
                </div>
                <div class="btn-wrapper btn-wrapper--right">
                    <button class="btn">Update</button>
                </div>
            </form>
        </div>
    </form>
</div>