<div class="card__wrapper">
    <div class="card__self">
        <div class="card__sidebar">
            <div class="card__row">
                <div class="user__avatar-wrapper">
                    <img class="user__avatar" src="https://www.goldenglobes.com/sites/default/files/styles/portrait_medium/public/people/cover_images/samuel_l_jackson-gt.jpg?itok=Ydcq5zWL&c=4eef40883dad65bfd37e02e25c172670" alt="Your avatar">
                </div>
            </div>
            <div class="card__row">
                <h2 class="h1">
                    {{userData.firstName}}
                <br>
                    {{userData.lastName}}
                </h2>
            </div>
        </div>
        <div class="card__content">
            <h2 class="h1 card__title">Update your profile</h2>
            <form action="">
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__first-name">
                            <h3>Your First Name</h3>
                        </label>
                        
                        <input id='input__first-name' type="text" placeholder="{{userData.firstName}}" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Last Name</h3>
                        </label>
                        <input id="input__last-name" type="text" placeholder={{userData.lastName}} class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Username</h3>
                        </label>
                        <input id="input__username" type="text" placeholder={{userData.username}} class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__last-name">
                            <h3>Your Email</h3>
                        </label>
                        <input id="input__username" type="email" placeholder={{userData.emailId}} class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__password">
                            <h3>Your Password</h3>
                        </label>
                        <input id="input__password" type="password" placeholder="It's a total secret" class="input">
                    </div>
                </div>
                <div class="card__row">
                    <div class="form-group">
                        <label class="form-group__label" for="input__confirm-password">
                            <h3>Confirm your Password</h3>
                        </label>
                        <input id="input__confirm-password" type="password" placeholder="We won't tell anybody" class="input">
                    </div>
                </div>
                <div class="btn-wrapper btn-wrapper--right">
                    <button class="btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>