.card {
    $card-padding: $sp * 3;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        // background-image: url('https://images.unsplash.com/photo-1551909340-a4ddbbe77882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
        // background-size: cover;
        background: linear-gradient($color-blue--25, $color-green--75);
    };
    &__self {
        display: flex;

        background-color: white;
        box-shadow: $shadow-3;
        padding: $card-padding;

        // border: 1px solid $color-neutral-5;
        border-radius: $bdrs;

        overflow: hidden;
    }

    &__sidebar {
        padding: $card-padding;

        margin-left: -#{$card-padding};
        margin-top: -#{$card-padding};
        margin-bottom: -#{$card-padding};

        min-width: $sp * 20;

        background: linear-gradient(60deg, $color-blue--75, $color-green--75);
        color: $color-neutral-6;
    }

    &__content {
        padding: $card-padding;
    }

    &__row {
        display: flex;
        justify-content: center;

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__title {
        margin-top: #{-$card-padding};
        margin-bottom: $sp * 5;
    }
}

:host {
    height: 100%;
}